# ─── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_SYNC=

# ─── Redis ─────────────────────────────────────────────────────────────────────
REDIS_HOST=redis
REDIS_PORT=6379

# ─── Keycloak ──────────────────────────────────────────────────────────────────
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=support-tickets
KEYCLOAK_CLIENT_ID=support-api
KEYCLOAK_CLIENT_SECRET=support-api-secret-change-in-prod
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_EXTERNAL_URL=http://localhost:8080

# ─── API ───────────────────────────────────────────────────────────────────────
API_PORT=4000
NODE_ENV=production

# ─── APIs externas ─────────────────────────────────────────────────────────────
# Groq (gratuito): https://console.groq.com
GROQ_API_KEY=your-groq-api-key-here

# Abstract API (gratuito): https://www.abstractapi.com
ABSTRACT_API_KEY=your-abstract-api-key-here
